/* WhiteStone Stream UI 
 * 
 * Author:  Tianyi Network  https://luotianyi.dev/
 * License: MPL-2.0
 */

/* style::global */
:root {
    --color-background: #ffffff;
    --color-text: #0c0c0c;
    --color-deactivate: #939393;
    --color-highlight: #c3c3c3;
    --color-accent: #e8e8e8;
    --color-primary: #3070c0;
    --color-secondary: #0080ff;
    --color-success: #6cb544;
    --color-warning: #f0ad4e;
    --color-error: #9c454f;
    --font-family-normal: -apple-system, 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC', 'Hiragino Sans GB',
                'Source Han Sans CN', 'Source Han Sans SC', 'Microsoft YaHei', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei,
                'WenQuanYi Zen Hei Sharp', sans-serif;
    --font-family-code: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    --size-base: 16px;
    --width-wide: 960px;
    --width-middle: 640px;
    --width-small: 0px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #0c0c0c;
        --color-text: #f8f8f8;
        --color-deactivate: #c3c3c3;
        --color-highlight: #c3c3c3;
        --color-accent: #5e5d5d;
        --color-primary: #0080ff;
        --color-secondary: #3070c0;
        --color-success: #6cb544;
        --color-warning: #f0ad4e;
        --color-error: #9c454f;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-family-normal);
    font-size: var(--size-base);
    line-height: 1.5;
    color: var(--color-text);
}

code, pre,
.ws-code {
    font-family: var(--font-family-code);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-secondary);
}

button,
a.ws-button {
    display: inline-block;
    outline: none;
    font-weight: 400;
    font-size: 1rem;
    margin: .5em .2em;
    padding: .5em 1em;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-highlight);
    border-radius: .8em;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    transition: background .2s ease-out;
    white-space: nowrap;
}

button:hover,
a.ws-button:hover {
    cursor: pointer;
    border-color: var(--color-deactivate);
    background: var(--color-accent);
    transition: background .2s ease-in;
}

button:disabled,       button[disabled],       button.ws-disabled,       a.ws-button:disabled,       a.ws-button[disabled],       a.ws-button.ws-disabled,
button:disabled:hover, button[disabled]:hover, button.ws-disabled:hover, a.ws-button:disabled:hover, a.ws-button[disabled]:hover, a.ws-button.ws-disabled:hover {
    cursor: not-allowed;
    border-color: var(--color-highlight);
    background: var(--color-highlight);
    color: var(--color-accent);
}

small,
.ws-small {
    font-size: .8em !important;
}

.ws-comment {
    color: var(--color-deactivate);
}

/* style::utils */
.ws-w-full,
.ws-w-100 {
    width: 100%;
}

.ws-w-half,
.ws-w-50 {
    width: 50%;
}

.ws-w-90 {
    width: 90%;
}

.ws-w-80 {
    width: 80%;
}

.ws-w-70 {
    width: 70%;
}

.ws-w-60 {
    width: 60%;
}

.ws-nowarp {
    white-space: nowrap;
}

.ws-overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
}

.ws-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ws-hidden {
    display: none;
}

/* Layout */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

article h1 {
    margin-top: 3.5rem;
}

article h2 {
    margin-top: 3rem;
}

article h3 {
    margin-top: 2rem;
}

article h4 {
    margin-top: 1.5rem;
}

article h5 {
    margin-top: 1.2rem;
}

article h6 {
    margin-top: 1rem;
}

main {
    max-width: var(--width-wide);
}

main.ws-main-fixed {
    min-width: var(--width-wide);
    width: var(--width-wide);
}

@media screen and (min-width: 960px) {
    main {
        margin: 30px auto;
    }
}

@media screen and (max-width: 960px) and (min-width: 640px) {
    main {
        margin: 30px 15px;
    }
}

@media screen and (max-width: 640px) {
    main {
        margin: 30px 10px;
    }
}

/* element::header
 *
 * example:
    <body>
        <main>
            <header>
                <h1>
                    <img src="/logo.png" alt="logo">
                    My Page
                </h1>
                <a href="/login" class="ws-button">Login</a>
                <a href="/register" class="ws-button">Register</a>
            </header>
        </main>
    </body>
 */

header {
    display: flex;
    justify-content: space-between;
}

header > h1 {
    font-weight: 400;
    display: flex;
}

header > h1 > img {
    width: 1em;
    padding-right: .5em;
}

@media screen and (max-width: 960px) {
    header {
        flex-direction: column;
    }
}

/* element::footer 
 *
 * example:
    <body>
        <main>
            <footer>
                CopyRight &copy; 2023 <a href="https://example.com">Example.com</a>
                All Rights Reserved.
            </footer>
        </main>
    </body>
 */
footer {
    padding-top: 100px;
    padding-bottom: 1rem;
    font-size: .8em;
    color: var(--color-deactivate);
    text-align: center;
}

footer a {
    color: var(--color-deactivate);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}

/* element::form
 *
 * example:
    <div class="ws-form-group">
        <label for="surname" class="ws-from-label">姓</label>
        <input id="surname" name="surname" type="text" placeholder="乐正">
    </div>
    <div class="ws-form-group">
        <label for="givenName" class="ws-from-label">名</label>
        <input id="givenName" name="givenName" type="text" placeholder="绫">
    </div>
    <div class="ws-form-group">
        <label for="message" class="ws-from-label">想说什么？</label>
        <textarea id="message" name="message" class="ws-form-fullwidth">
        </textarea>
    </div>
 */
.ws-form-group {
    margin-bottom: 2em;
}

.ws-form-group input[type="text"],
.ws-form-group input[type="password"],
.ws-form-group input[type="email"],
.ws-form-group input[type="url"],
.ws-form-group input[type="tel"],
.ws-form-group input[type="number"],
.ws-form-group input[type="search"],
.ws-form-group textarea {
    display: block;
    outline: none;
    padding: .5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-highlight);
    transition: border .2s ease-out;
    border-radius: .8em;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    background-color: var(--color-background);
}

.ws-form-group input[type="text"]:hover,
.ws-form-group input[type="password"]:hover,
.ws-form-group input[type="email"]:hover,
.ws-form-group input[type="url"]:hover,
.ws-form-group input[type="tel"]:hover,
.ws-form-group input[type="number"]:hover,
.ws-form-group input[type="search"]:hover,
.ws-form-group textarea:hover {
    border-color: var(--color-deactivate);
    transition: border .2s ease-in;
}

.ws-form-group input[type="text"]:focus,
.ws-form-group input[type="password"]:focus,
.ws-form-group input[type="email"]:focus,
.ws-form-group input[type="url"]:focus,
.ws-form-group input[type="tel"]:focus,
.ws-form-group input[type="number"]:focus,
.ws-form-group input[type="search"]:focus,
.ws-form-group textarea:focus {
    border-color: var(--color-text);
    transition: border .2s ease-in;
}

.ws-form-group input[type="text"]:disabled,
.ws-form-group input[type="password"]:disabled,
.ws-form-group input[type="email"]:disabled,
.ws-form-group input[type="url"]:disabled,
.ws-form-group input[type="tel"]:disabled,
.ws-form-group input[type="number"]:disabled,
.ws-form-group input[type="search"]:disabled,
.ws-form-group input.disabled,
.ws-form-group input.ws-disabled,
.ws-form-group textarea:disabled,
.ws-form-group textarea.disabled,
.ws-form-group textarea.ws-disabled {
    cursor: not-allowed;
    border-color: var(--color-highlight);
    background: var(--color-highlight);
    color: var(--color-accent);
}

.ws-form-group input[type="text"],
.ws-form-group input[type="password"],
.ws-form-group input[type="email"],
.ws-form-group input[type="url"],
.ws-form-group input[type="tel"],
.ws-form-group input[type="number"],
.ws-form-group input[type="search"] {
    padding: .5em 1em;
}

.ws-form-group label,
.ws-form-group .ws-from-label {
    display: block;
    color: var(--color-deactivate);
    font-size: .9rem;
    padding-left: .25rem;
    padding-bottom: .25rem;
    font-weight: 400;
}

/* component::alert
 *
 * example:
    <div class="ws-alert ws-alert-success">
        Success!
    </div>
 */
.ws-alert {
    display: block;
    padding: .8em 1em;
    border-radius: .8em;
    margin-bottom: 1em;
}

.ws-alert-success {
    background: var(--color-success);
    color: white;
}

.ws-alert-warning {
    background: var(--color-warning);
    color: white;
}

.ws-alert-error {
    background: var(--color-error);
    color: white;
}

.ws-alert-primary {
    background: var(--color-primary);
    color: white;
}

/* component::grid-box
 *
 * Usage: TBD
 */
.ws-grid-box {
    max-width: var(--width-wide);
    display: grid;
    justify-content: space-between;
}

@media screen and (min-width: 960px) {
    .ws-grid-box {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 12px;
    }

    .ws-grid-box-2 {
        grid-column: span 2;
    }

    .ws-grid-box-3,
    .ws-grid-box-quarter {
        grid-column: span 3;
    }

    .ws-grid-box-4 {
        grid-column: span 4;
    }

    .ws-grid-box-5 {
        grid-column: span 5;
    }

    .ws-grid-box-6,
    .ws-grid-box-half {
        grid-column: span 6;
    }

    .ws-grid-box-7 {
        grid-column: span 7;
    }

    .ws-grid-box-8 {
        grid-column: span 8;
    }

    .ws-grid-box-9 {
        grid-column: span 9;
    }

    .ws-grid-box-10 {
        grid-column: span 10;
    }

    .ws-grid-box-11 {
        grid-column: span 11;
    }

    .ws-grid-box-12,
    .ws-grid-box-full {
        grid-column: span 12;
    }
}

@media screen and (max-width: 960px) and (min-width: 640px) {
    .ws-grid-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    .ws-grid-box {
        grid-template-columns: 100%;
    }
}

/* component::breadcrumb
 *
 * example:
    <nav class="ws-breadcrumb">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/news">News</a></li>
            <li class="ws-breadcrumb-current"><a href="/news/post/1124">Luo Tianyi married with Yuezheng Ling</a></li>
        </ul>
    </nav>
 */
.ws-breadcrumb {
    display: block;
    padding-bottom: 1rem;
    font-size: .8rem;
}

.ws-breadcrumb ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ws-breadcrumb ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.ws-breadcrumb ul li::after {
    content: ">";
    padding: 0 .5em;
    color: var(--color-deactivate);
}

.ws-breadcrumb ul li:last-child::after {
    content: '';
    padding: 0;
}

.ws-breadcrumb ul li.ws-breadcrumb-current,
.ws-breadcrumb ul li.ws-breadcrumb-current a {
    color: var(--color-deactivate);
}

.ws-breadcrumb ul li.ws-breadcrumb-current a:hover {
    color: var(--color-highlight);
}
